.content
{
    width: 100%;
    height:100%;
    background-image: url("../images/spread.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #e9492b;
}
.top
{
    margin-bottom: 7.5vw;
    padding-top: 18vw;
    text-align: center;
}
.spread
{
    font-size: 9vw;
    color: #333333;
}
.topWord
{
    margin-top: 3px;
    font-size: 4.5vw;
    color: #333333;
}
.appDownload
{
    margin: 0 10% 15px 10%;
    width: 80%;
}
.downTitle
{
    color: #f4d42c;
    font-size: 18px;
    text-align: center;
}
.codeImg
{
    margin: 5px auto;
    padding: 10px;
    width: 145px;
    height: 145px;
    background-color: #ffffff;
}
.codeImg img
{
    width: 145px;
    height: 145px;
}
.downWord
{
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}